.buttons {
  display: flex;
  align-items: center;
}

.btn--new-quote {
  background-color: antiquewhite;
  padding: 1.2rem 2.4rem;
  border-radius: 100px;
  border: none;
  width: 80%;
}

.btn--heart-outline {
  margin: 0 auto;
}

.color-red {
  color: red;
}
