.buttons {
  display: flex;
  align-items: center;
  max-width: 40rem;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}

.btn {
  padding: 1.2rem 2.4rem;
  border-radius: 100px;
  border: none;
}

.btn--new-quote {
  width: 80%;
  font-size: 1.4rem;
}

.btn--heart-outline {
  margin: 0 auto;
}

.color-red {
  color: red;
}
