.header {
  max-width: 72rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 0.8rem;
}

.color-black {
  color: #000;
}

.btn--auth,
.link--favorites {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border-radius: 8px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #fff;
  text-decoration: none;
}

.icon--theme {
  background-color: transparent;
  border: none;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.6rem;
}
