.Quote-Container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 40rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  margin: 0 3.2rem;
}

.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
}
