.Quote-Container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 100%;
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  margin: 0 3.2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
  max-width: 72rem;
}
