.App {
  background-color: antiquewhite;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Quote-Container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 40rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  margin: 0 3.2rem;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.quote__quote,
.quote__author {
  font-weight: 300;
}

.quote__quote {
  position: relative;
  text-align: center;
  max-width: 75%;
}

.quote__author {
  font-style: italic;
  position: relative;
  align-self: flex-end;
}

.quote__author::before {
  content: "";
  position: absolute;
  border-bottom: 2px solid #000;
  bottom: 40%;
  left: -3.2rem;
  width: 3rem;
}

.icon__left,
.icon__right {
  position: absolute;
}

.icon__left {
  top: -0.8rem;
  left: -3.2rem;
}

.icon__right {
  bottom: -0.8rem;
  right: -3.2rem;
}

.fs-small {
  font-size: 1.4rem;
}

/* BUTTONS */

.buttons {
  display: flex;
  align-items: center;
}

.btn--new-quote {
  background-color: antiquewhite;
  padding: 1.2rem 2.4rem;
  border-radius: 100px;
  border: none;
  width: 80%;
}

.btn--heart-outline {
  /* border-radius: 50%; */
  margin: 0 auto;
}
